In [2]:
a = [1,2,1,"hlasd","lajsdf",23.22]
b = (1,2,1,"hlasd","lajsdf",23.22)
c = {1,2,1,"hlasd","lajsdf",23.22}
d = {"a":1,"b":2}
print(a)
print(b)
print(c)
print(d)

[1, 2, 1, 'hlasd', 'lajsdf', 23.22]
(1, 2, 1, 'hlasd', 'lajsdf', 23.22)
{1, 2, 'lajsdf', 'hlasd', 23.22}
{'a': 1, 'b': 2}

In [7]:
leche = "leche"
tupla_a = ('pan', leche, 100, 1234, True, 234.3)
lista_a = ['pan', leche, 100, 1234, True, 234.3, tupla_a]
print(lista_a)

['pan', 'leche', 100, 1234, True, 234.3, ('pan', 'leche', 100, 1234, True, 234.3)]

In [12]:
lista_a.append("holi")
print(lista_a)
lista_a.remove('holi')
print(lista_a)
del lista_a[0:4]
print(lista_a)
lista_b = []

['pan', 'leche', True, 234.3, ('pan', 'leche', 100, 1234, True, 234.3), 'holi']
['pan', 'leche', True, 234.3, ('pan', 'leche', 100, 1234, True, 234.3)]
[('pan', 'leche', 100, 1234, True, 234.3)]

In [16]:
tupla = (1,2,3,4)
print(tupla)
print(len(tupla))
list(tupla)
print(tupla)
tuple(tupla)
print(tupla)

(1, 2, 3, 4)
4
(1, 2, 3, 4)
(1, 2, 3, 4)

In [17]:
x = [8,9,10]
y=x #.copy()
y[0] = 11
print(x,y)

[11, 9, 10] [11, 9, 10]

In [19]:
a = dict(one=1, two=2, three=3)
b = {'one':1,'two':2,'three':3}
c = dict(zip(['one','two','three'],[1,2,3]))
print(c)

{'one': 1, 'two': 2, 'three': 3}

In [21]:
for i in enumerate (['leche', 'pera', 'manzana', 'naranja']):
    print(i)
for i,v in enumerate (['leche', 'pera', 'manzana', 'naranja']):
    print(i,v)

(0, 'leche')
(1, 'pera')
(2, 'manzana')
(3, 'naranja')
0 leche
1 pera
2 manzana
3 naranja